<?xml version="1.0" encoding="UTF-8"?>

<!-- Mybatis 설정 파일임을 선언하는 부분 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<!-- Mybatis와 관련된 기본 설정들을 선언하는 영역 -->
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	

</configuration>